main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;

}
#section-login {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
}