<main>
    <h1>Cadastrar jogo</h1>
    <section id="section-cadastro">
    <form>
    <label for="produto">Nome do 
   Produto</label>
    name="produto">
    name="descricao">
    name="foto">
    name="preco">
    <input type="text" class="form-control"
    <br>
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control"
    <br>
    <label for="foto">Foto</label>
    <input type="text" class="form-control"
    <br>
    <label for="preco">Preço</label>
    <input type="number" class="form-control"
    <br>
    <button type="button" class="btn btn
   primary mb-3">Cadastrar</button>
    </form>
    </section>
    </main>
